body{
  margin: 0;
}
img{
  max-width: 100%;
  width: 100%;
  height: auto;
}

.mv{
  height: 500px;
  padding: 100px 0 0 20px;
  background-image: url(../image/image01.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.mv::after {
  content: '';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.mv_title{
  color: #fff;
  font-size: 50px;
  position: relative;
  z-index: 1;
}
.mv_sub_title{
  color: #fff;
  font-size: 24px;
  position: relative;
  z-index: 1;
}

.container{
  max-width: 1200px;
  margin: 30px auto;
}
.block_flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.image{
  width: 49%;
}
.description{
  width: 49%;
  justify-content: center;
}
.button{
  display: block;
  width: 200px;
  padding: 10px 0;
  color: #fff;
  background-color: darkorange;
  margin: auto;
  text-align: center;
}
